.inbox-row {
  background: lightpink;
  border: 1px solid black;
  border-radius: 5px;
  font-family: 'Grandstander', cursive;
  font-size: 1.2rem;
  margin: 15px auto;
  padding: 14px 20px;
  position: relative;
  width: 85%;
}

.unread-count {
  font-size: .85rem;
  position: absolute;
  right: 10px;
  top: 8px;
}

.total-count {
  font-size: .85rem;
  position: absolute;
  bottom: 8px;
  right: 10px;
}

.inbox {
  color: #000;
  text-decoration: none;
}

.inbox-container {
  display: inline-block;
  padding: 20px;
}

.helper-text{
  display: block;
  font-family: 'Grandstander', cursive;
  font-size: 1.1rem;
  margin: auto;
  max-width: 450px;
}

.helper-text-alt{
  display: block;
  font-family: 'Grandstander', cursive;
  font-size: .75rem;
  padding: 0;
  margin: 10px auto 0;
}

.chat-heading {
  font-size: 2rem;
  margin-top: 30px;
}

.message-box {
  margin: 15px auto 0;
  max-width: 500px;
  width: 100%;
}

.bg-white {
  background: #fff;
}

.logo-msg {
  height: 60px;
  margin-top: 50px;
}

.logo-msg-no {
  height: 60px;
  margin-top: 0;
}

.no-message-img {
  border-radius: 10px;
  margin: 25px auto 20px;
  width: 100%;
}

@media (min-width: 768px) { 
  .chat-heading {
    font-size: 2.75rem;
    margin-top: 50px;
  }
}