.chat-header{
  font-size: 2.25rem;
  margin: 35px auto;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

.k-author {
  color: #fd4e7e;
  padding-right: 5px;
}

.loading-msg {
  background: #f8e5e5;
  font-family: 'Grandstander', cursive;
  font-size: 2rem;
  min-height: 100vh;
  min-width: 100vw;
  padding-top: 20vh;
  position: absolute;
  left: 0;
  top: 0;
}

.chat-name {
  display: block;
  margin-top: 10px;
}

.support-text {
  font-size: 1rem;
}

.chat-helper {
  font-size: .8rem;
  font-weight: normal;
  margin: .75rem auto 0;
  max-width: 450px;
}

@media (min-width: 768px) { 
  .support-text {
    margin-top: 1.5rem;
  }
}