.profile-bg {
  background: #fff;
  height: 25vh;
}

.control-dots, .carousel-status  {
  display: none !important;
}

.carousel.carousel-slider .control-arrow {
    background: gray;
}

.carousel .slider-wrapper.axis-horizontal .slider .slide {
  background: #fff;
}

.carousel.carousel-slider {
  border-radius: 0;
}

.carousel .thumbs-wrapper {
  margin: 0 !important;
}

.carousel .slider-wrapper.axis-horizontal .slider .slide {
  background: #ffb6c1;
}

.carousel-root {
  padding: 10px;
  background: #ffc0cb;
  max-width: 500px;
  margin: auto;
  padding-bottom: 10vh;
}

.carousel .slide img {
  max-width: 400px;
}

@media (min-width: 768px) { 
  .carousel .slide img {
    width: 100%;
    vertical-align: top;
    border: 0;
    margin: 0;
  }
}

