.dash-btn {
  background: #FA255E;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-family: 'Grandstander', cursive;
  font-size: 1rem;
  margin: 0 10px;
  padding: 13px 20px;
}

.dash-container {
  background: #efefef;
  min-height: 80vh;
  max-width: 500px;
  margin: 0 auto;
  padding: 0;
}

.dash-header {
  margin: 25px auto;
}

.info-container {
  border-radius: 5px;
  text-align: left;
  padding: 10px 20px 15px;
  background: #ffffff;
  border: 1px solid #000000;
  margin: 10px auto 0;
}

.info-row {
  display: block;
  margin-top: 8px;
}

.dash-img {
  height: 100%;
  width: 100vw;
  max-width: 400px;
}

.float-r {
  float: right;
  margin-top: 3px;
}

.pink-bg {
  background: #ffc0cb;
}

.jc-center {
  justify-content: center;
}

@media (min-width: 768px) { 
  .dash-img {
    border-radius: 5px;
    height: 100%;
    margin-top: 25px;
    width: 90vw;
    max-width: 400px;
  }
  .dash-container {
    padding: 25px;
  }
}
