.edit-img {
  width: 100px;
}

#modal-img {
  background: #f8e5e5;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  max-width: 250px;
  top: 10vh;
  width: 70vw;
}

#modal-close {
  display: block;
  width: 100%;
  text-align: end;
}

#modal-close:hover {
  opacity: .8;
  transform: scale(1);
}

#img-submit {
  margin-bottom: 25px;
}